<section id="{{post.id}}" class="expanded-post-container">
    <div class="expanded-post">
        <h1 id="expanded-post-title">{{post.title}}</h1>
        <p id="expanded-post-text">{{post.text}}</p>
        <br/>
        <br/>
        <span class="expanded-post-label-container"><p id="expanded-post-label">posted by {{post.user.username}} on {{format_date post.createdAt}}</p></span>
    </div>
    <div class="modify-buttons">
        <button class="button add-reply-btn">Reply</button>
        <button class="button view-replies-btn">View Replies</button>
        {{#if isOwner}}
        <button class="button edit-btn">Edit Post</button>
        {{/if}}
        {{#if isOwner}}
        <button class="button delete-btn">Delete Post</button>
        {{/if}}
    </div>
    <div class="new-reply-container">
        <form class="new-reply">
            <textarea class="textarea add-reply-text" placeholder="Add Reply" rows="3" required></textarea>
            <button id="submit-reply-btn" type="submit">Submit</button>
        </form>
    </div>
</section>
<section class="column reply-container">
    <div class="reply-display">
        {{#if hasReplies}}
        {{#each post.replies as |reply|}}
        {{> replies}}
        {{/each}}
        {{else}}
        <p id="no-replies">This Post Has No Replies.</p>
        {{/if}}
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/js/post.js"></script>